!                  'background', 'border', 'separator'
rofi.color-window: argb:40000000, #7c8389, #98beff
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: argb:031d1f21, #ffffff, argb:031d1f21, argb:c998beff,  #ffffff
rofi.color-urgent: argb:031d1f21, #ffffff, argb:bc303541, argb:031d1f21, #8e4ceb
rofi.color-active: argb:031d1f21, #ffffff, argb:031d1f21, argb:031d1f21, #8e4ceb
rofi.font: Cascadia Regular 15
*.font: Cascadia Mono:pixelsize=14:antialias=true:autohint=true


*.alpha: 0.8

*.foreground: 	#E8DFD6
*.background: 	#032C36
*.cursorColor:  #2E3340
*.color0:       #032C36
*.color8:       #065F73
*.color1:       #C2454E
*.color9:       #EF5847
*.color2:       #7CBF9E
*.color10:      #A2D9B1
*.color3:       #8A7A63
*.color11:      #BEB090
*.color4:       #2E3340
*.color12:      #61778D
*.color5:       #FF5879
*.color13:      #FF99A1
*.color6:       #44B5B1
*.color14:      #9ED9D8
*.color7:       #F2F1B9
*.color15:      #F6F6C9
