!                  'background', 'border', 'separator'
rofi.color-window: argb:40000000, #7c8389, #98beff
!           State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: argb:031d1f21, #ffffff, argb:031d1f21, argb:c998beff,  #ffffff
rofi.color-urgent: argb:031d1f21, #ffffff, argb:bc303541, argb:031d1f21, #8e4ceb
rofi.color-active: argb:031d1f21, #ffffff, argb:031d1f21, argb:031d1f21, #8e4ceb
rofi.font: Cascadia Regular 15
*.font: Cascadia Mono:pixelsize=14:antialias=true:autohint=true


*.alpha: 0.9

! special
*.foreground:   #bbc5ff
*.background:   #282a36
*.cursorColor:  #bbc5ff

! black
*.color0:       #101010
*.color8:       #434758

! ! red
*.color1:       #f07178
*.color9:       #ff8b92

! green
*.color2:       #c3e88d
*.color10:      #ddffa7

! yellow
*.color3:       #ffcb6b
*.color11:      #ffe585

! blue
*.color4:       #82aaff
*.color12:      #9cc4ff

! magenta
*.color5:       #c792ea
*.color13:      #e1acff

! cyan
*.color6:       #89ddff
*.color14:      #a3f7ff

! white
*.color7:       #d0d0d0
*.color15:      #ffffff
